<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Aviso Profesor</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-item>
    <ion-textarea placeholder="Escribir Mensaje"></ion-textarea>
  </ion-item>
  <div padding>

    <ion-button expand="block">Enviar Mensaje</ion-button>
  </div>
</ion-content>
