<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row style="border-bottom: groove;">
    <ion-col col-4>
    <ion-label >Ramo</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >Prom/desv</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >%Aprob</ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;align-self: center;">
    <ion-col col-4>
    <ion-label >Programacion</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >3.7/0.8</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >40%</ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;align-self: center;">
    <ion-col col-4>
    <ion-label >S.I.A.</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >5.5/2.0</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >80%</ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;align-self: center;">
    <ion-col col-4>
    <ion-label >xxxxx</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >xxxxx</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >xxxxx</ion-label>
  </ion-col>
</ion-row>

</ion-content>
