
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Restablecer Contraseña
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-img width="10" height="10" src="../assets/img/Utem.jpg"></ion-img>
  
        <div text-center>
          <h4>Ingreso Plataforma</h4>
        </div>
        <div padding>
          <ion-item>
            <ion-input type="text" placeholder="Rut"></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button expand="block">Restablecer Contraseña</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>