<ion-header>
  <ion-toolbar>
    <ion-title align-self-center>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
		<form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
			<ion-row justify-content-center>
				<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
						<ion-img width="10" height="10" src="../assets/img/Utem.jpg"></ion-img>
						<div text-center>
								<h4>Ingreso Plataforma</h4>
						</div>
						<ion-list inset>
							<ion-item>
								<ion-input placeholder="Rut" name="rut" id="loginField"
												 	type="text" required [(ngModel)]="user.rut"></ion-input>
							</ion-item>
							<ion-item>
								<ion-input placeholder="Password" name="password" id="passwordField"
												 	type="password" required [(ngModel)]="user.password"></ion-input>
							</ion-item>
						</ion-list>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<div *ngIf="error" class="alert alert-danger">{{error}}</div>
						<ion-button class="submit-btn" full type="submit"
										[disabled]="!loginForm.form.valid">Login
						</ion-button>
					</ion-col>
				</ion-row>
			</form>
			<a ion-item href="/forgot" >
        Restablecer Contraseña
      </a>
</ion-content>
